h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif!important;
	font-weight: 700;
}
.bg{
  background-image: url(../img/travel_summer_beach_background_set_vector_547590.jpg);
    background-position: center;
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Back to top*/
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after{
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*/Back to top*/

/*Form*/
.form-search{
			background-color: #1f2746;
		}
/*/Form*/
 /*REPONSE Mobile Firts*/
 @media (max-width: 767.99px) { 
 	.hidden-content{
 		display: none!important;
 	}
 	.content-center{
 		/* .can-giua */
 		display: flex;
 		justify-content: center;
 		align-items: center;
 	}
 	.show-content{
 		/*  .hien-content*/
 		display: inline-block!important;
 	}
 	.head-content{
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 	}
 	.viennho{
 		/* For Reponse Mobile Firts*/
 		border-right: 1px solid #f0f0f0;
 	}
 	 .col-xs-12 iframe, .col-sm-12 iframe
 {
 	width: 29rem;
 }
 }

 /* /REPONSE Mobile Firts*/

/*menu*/
.menumain ul .active,.menumain ul .active a{
	background-color:#d9f6f9; 
	color:#00c0d9!important;
}
.navbar{
	min-height: 35px!important;
}
/*/menu*/
 .border{
 	border-color: #0c0c0ce6;
 }
 .border-top{
 	border-color: #0c0c0ce6;
 }
 body{
 	font-family: 'Open Sans', sans-serif;
 }
 h1,h2,h3,h4,h5,h6{
 	font-family: 'Roboto Slab', serif;
 	font-style: 
 }
 /*style icon add*/
 .sizeicon{
 	width: 4%;
 	height: 4%;
 }
 /*/style icon add*/


 /*banner*/
 .colorbanner{
 	color: #f79321;
 }
 /*/baner*/
 /*slider*/
 .floating-text{
 	/* Chữ nổi*/
 	bottom: 80px!important;
 	margin: 0;
 	justify-content: center;
 	align-items: center;
 	padding: 0!important;


 }
 /*/slider*/
 /*slider4*/
 .sldier4{
 	left: 13%!important;
 }
 /*slider4*/
 /*slideRight*/
 .z-index1{
 	z-index: 1;
 }
 .top30{
 	top: 30%;
 }
 .z-index2{
 	z-index: 2;
 }
 /*/sliderRight*/
 #borderMain{
 	border:0.5px solid black;
 }
 .cohinh{
 	height: 18.5rem!important;
 	width: 36rem;
 }
 .vitrihinh{
 	z-index: 100;
 }
 .vitrih5{
 	bottom: 0;

 }
 .bg-top{
  background-color: #1f2746;
 }
 .nenfooter{
 	background-color: #1f2746;
 }
 .mauchufooter{
 	color: #cccccc!important;
 }
 a{
 	text-decoration: none!important;
 }
/*header div ul li:after{
	content: "   /";
	position: absolute;
}