body{
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif;
	font-style: 
}
/*banner*/
.colorbanner{
	color: #f79321;
}
/*/baner*/
/*slider*/
.top{
	top: 0;
}
/*/slider*/
/*slider4*/
.sldier4{
	left: 13%!important;
}
/*slider4*/
/*slideRight*/
.z-index1{
	z-index: 1;
}
.top30{
	top: 30%;
}
.z-index2{
	z-index: 2;
}
/*/sliderRight*/
#borderMain{
	border:0.5px solid black;
}
.cohinh{
	height: 17.9rem!important;
	width: 36rem;
}
.vitrihinh{
	z-index: 100;
}
.vitrih5{
	bottom: 0;
	
}
.nenfooter{
	background-color: #222222;
}
.mauchufooter{
	color: #cccccc!important;
}
a{
	text-decoration: none!important;
}
/*header div ul li:after{
	content: "   /";
	position: absolute;
}*/